<app-header></app-header>

<div class="container wrapper-content">

  <!-- Dropdowns de select-->
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <mat-form-field>
        <mat-label>Selecione uma opção</mat-label>
        <mat-select [(value)]="selectedEnvironment">
          <mat-option value="producao">Produção</mat-option>
          <mat-option value="homologacao">Homologação</mat-option>
          <mat-option value="dev">Dev</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-2">
      <mat-form-field>
        <mat-label>Ordenar por</mat-label>
        <mat-select [(value)]="selectedOrderBy">
          <mat-option>None</mat-option>
          <mat-option value="level">Level</mat-option>
          <mat-option value="evento">Evento</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-2">
      <mat-form-field>
        <mat-label>Buscar por</mat-label>
        <mat-select [(value)]="selectedSearchBy">
          <mat-option>None</mat-option>
          <mat-option value="level">Level</mat-option>
          <mat-option value="descricao">Descrição</mat-option>
          <mat-option value="origem">Origem</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md">
      <button mat-button style="color: white; background-color: #5990f7;" (click)="ngOnInit()">
        <mat-icon>search</mat-icon>
      </button> 
    </div>
    
    <div class="col-sm-12 col-md-3">
      <!-- Filter -->
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>

    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Visualizar Column -->
      <ng-container matColumnDef="visualize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ver Log </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" aria-label="See the log" (click)="expandLog(row.id)">
                <mat-icon>search</mat-icon>
              </button>  
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"><a> {{row.id}} </a></td>
      </ng-container>

      <!-- Log Description Column -->
      <ng-container matColumnDef="log">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Log </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <!-- Level Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
        <td [style.color]="getColor(row.level)" mat-cell *matCellDef="let row"> {{row.level}} </td>
      </ng-container>

      <!-- Evento Column -->
      <ng-container matColumnDef="evento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Evento </th>
        <td mat-cell *matCellDef="let row"> {{row.event}} </td>
      </ng-container>

      <!-- Delet Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remover </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="Remove the log" (click)="changeLogStatusById(row.id, deleted)">
                <mat-icon style="color: gray">delete_outline</mat-icon>
              </button>  
        </td>
      </ng-container>    

      <!-- Archive Column -->
      <ng-container matColumnDef="archive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Arquivar </th>
        <td mat-cell *matCellDef="let row"> 
              <button mat-icon-button aria-label="Archive the log" (click)="changeLogStatusById(row.id, archived)">
                <mat-icon style="color: orange">archive</mat-icon>
              </button>  
        </td>
      </ng-container>    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>


</div>