<!--<app-header></app-header>-->

<div class="container wrapper">
    <button mat-stroked-button color="primary">Voltar</button>
  <div class="row wrapper">
    <div class="col">
        <h2>
            Erro no 127.0.0.1 {{ip}} em 24/05/2019 10:15{{data}} {{hora}}
            </h2>
    </div>
    
  </div>
  <div class="row wrapper">
    <div class="col-sm-10 col-md-8">
      <h5>Titulo</h5>
      acceleration.Service.AddCandidate: forbiden
      {{titulo}}
    </div>
    <div class="col-sm-2 col-md-4">
      <div class="row">
        <div class="col">
            error {{status}}
            <br>
        </div>
        
      </div>
      <div class="row">
        <div class="col wrapper">
          <h5>Eventos</h5>
          <p>1000</p> 
        </div>
      </div>
    </div>
  </div>
  <div class="row wrapper">
    <div class="col-sm-10 col-md-8">
      <h5>Detalhes</h5>
      file...
      <br>
      file...
      <br>
      file...
      <br>
      file...
      <br>
      file...
    </div>
    <div class="col-sm-2 col-md-4">
      <div class="row">
        <div class="col">
            <h5>Coletado por</h5>
            
            Token do usuario {{token}}
        </div>
        
      </div>
    </div>
  </div>
</div>
