<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
         <div class="row">
          <div class="col-md-2">
    <form name="empForm">
  <table>
   <tr>
  <th colspan="2">Add Employee</th>
  </tr>
  <tr> 
  <td>FirstName:</td>
  <td><input id="firstName" name="firstName" ></td>
  </tr>
  <tr>
  <td>Phone No:</td>
  <td><input id="phoneNo" name="phoneNo"></td>
  </tr>
  <tr>
  <td>Email:</td>
  <td><input id="email" name="email"></td>
  </tr>
  <tr>
  <td colspan="2"> <button type="button" (click)="createEmployee()" class="blue-button">submit</button></td>
  </tr>
  </table>
  </form>
  </div>
  </div>
 </header>
  </section>
 <section class="main">
 <table class="table">
  <thead>
  <tr>
  <th>#</th>
  <th>First Name</th>
  <th>Phone No</th>
  <th>Email</th>
  <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
  <th scope="row">"1"}</th>
  <!-- <td>{{employee.firstName}}</td>
  <td>{{employee.phoneNo}}</td>
  <td>{{employee.email}}</td> -->
  <td>
  <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
  </td>
  </tr>
 </tbody>
  </table>
  </section>
  </div>
  </div>
 </div>
