<div class="row wrapper-header" style="display: flex;
align-items: center ">
  <div class="col-sm-12 col-md-1">
    <img class="img-responsive" src="assets/images/5andar.png" style="height: 50px;display: block;
      margin-left: auto;
      margin-right: auto">
  </div>
  <div class="col-sm-12 col-md">

    <p *ngIf="loginService.isLoggedIn()" style="margin-top: auto;
    margin-bottom: auto">Bem Vindo(a) {{userName}}. Seu token é: {{userToken}}</p>
  </div>
  <div class="col-sm-12 col-md-4">
    <button *ngIf="loginService.isLoggedIn()" class="btn btn-link" style="float: right; color: #fff" (click)="logout()">
      Sair
    </button>
    <button *ngIf="!loginService.isLoggedIn()" class="btn btn-link" style="float: right; color: #fff"
      routerLink="/signup">
      Cadastrar
    </button>
    <button *ngIf="!loginService.isLoggedIn()" class="btn btn-link" style="float: right; color: #fff"
      routerLink="/login">
      Login
    </button>
  </div>
  <div class="col-sm col-md-1">
    <mat-icon style="font-size: 30px;">account_circle</mat-icon>
  </div>
</div>