<div class="row wrapper-header">
  <div class="col-sm-12 col-md">
    <!--
    <ul class="menu-header">
      <li>Central de Erros</li>
    </ul>
    -->
    <h5>Bem Vindo(a) {{userName}}. Seu token é: {{userToken}}</h5>
  </div>

<div class="col-sm-12 col-md">
  <button class="btn btn-link" style="float: right; color: #fff" (click)="logout()">
    Sair
  </button>
</div>
  <!-- <div class="col-xs-12 col-md-2 align-left">
    <button class="btn btn-home-cadastro-clientes" (click)="gotoCadastroClientes()">Criar conta</button>
  </div>
  
    <div class="col-xs-12 col-md-4">
      <app-login></app-login>
    </div>
  -->
</div>