/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.login-box {
    min-width: 50%;
}
.box-cadastro {
    margin: 20px;
    padding: 20px;
    height: 380px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    min-width: 60%;
  }